.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid  rgba(255,255,0,0.4);
}

.recovered {
    border-bottom: 10px solid  rgba(0,255,0,0.4);
}

.deaths {
    border-bottom: 10px solid  rgba(255,0,0,0.4);
}

@media (max-width: 770px) {
    .card {
        margin: 5% 0 !important;
    }
}